
NEXTAUTH_SECRET=

NEXTAUTH_URL=http://localhost:3000

NEXTAUTH_DEBUG=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ADMIN_EMAILS=you@example.com


GITHUB_TOKEN=

GITHUB_REPO=owner/repo-name

GITHUB_BRANCH=main


EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=

EMAILJS_PRIVATE_KEY=


CMS_LOCAL_ONLY=
