.rsfWrapper{
  background-color: rgb(248, 248, 248);
}
.rsCardsWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--space-12);
}

@media (max-width: 1400px){
  .rsCardsWrapper{
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
}


