.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  
}

.nav-top {
  
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* center menu on desktop too */
.nav-menu {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2rem;

}

.navLink{
  position: relative;
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s;
  padding: 0.5rem;
}
.navLink:hover{
  color: white;
}


.navLink:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  left: 0;
  

}
.navLink:hover::after{
  width: 100%;
  border: solid var(--black) 1px;
}

.burger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.ctaButton{
  cursor: pointer;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
.logo{
  width: 140px;
}
  .nav {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 80vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5%;
    align-items: start;
    background-color: white;

    transform: translateX(-100%);
    opacity: 0;

    transition:
      transform 0.35s ease,
      opacity 0.25s ease;

    box-shadow: 18px 0 40px rgba(0, 0, 0, 0.25);

    pointer-events: none;
  }

  .nav-menu.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    
  }

  .navLink {
    width: 100%;
    text-align: left;
  }

  .navLink::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(186, 186, 186);
    bottom: -10px;
  }

  .ctaButton {
    margin-top: 1rem;
  }
}


body.menu-open {
  overflow: hidden;
  height: 100vh;
}
