.rsfWrapper{
  height: min-content;
  background-color: rgb(248, 248, 248);
  
}
.rsCardsWrapper{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

@media (max-width: 1400px){
  .rsCardsWrapper{
    flex-direction: row;
    flex-wrap: wrap;

}
}


