.rsfWrapper{
  padding: 6rem;
  background-color: rgb(248, 248, 248);
}
.rsCardsWrapper{
  display: flex;
  justify-content: space-between;
  width: var(--layout-max-width);
  margin: 0 auto;

}

@media (max-width: 1400px){
  .rsCardsWrapper{
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
}


