.cardWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 5rem;
}

.h2{

  text-align: center;
  margin-bottom: 4rem;
}

@media (max-width: 1000px){
  .cardWrapper{
    flex-direction: column;
    max-width: fit-content;
  }

}