.cardWrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-16);
  width: 100%;
}

.srvCardWrapper{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px){
  .cardWrapper{
    grid-template-columns: 1fr;
    gap: var(--space-12);
  }
}