.cardWrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-16);
  width: 100%;
  text-align: center;
 
}



@media (max-width: 1000px){
  .cardWrapper{
    grid-template-columns: 1fr;
    gap: 6rem;
   
    margin-top: 2rem;

  }


}