.h1{
  background-color: var(--primary-color);
  width: max-content;
  color: var(--white-color);
  padding: 1rem;
  position: relative;
}

.h1::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -0.5rem;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  transform: rotate(2deg);
}