.rsfWrapper{
  height: 80vh;
  background-color: rgb(248, 248, 248);
}
.rsHeadline{
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 4rem;
}
.rsCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;

  padding: 1.5rem;
  background-color:var(--white);
  border-radius: 0 0 200px 200px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.11);
  min-width: 250px;

}
.counter {
  display: block;
  font-size: 45px;
  font-weight: 800;
}
.react-icon{
  color: var(--primary-color);
  width: 6rem;
}

