.srvCardWrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.h3{
  line-height: 35px;
  margin-bottom: 1rem;
}

@media (max-width: 1000px){
  .srvCardWrapper{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .srvImg{
    width: 150px;
    
  }
}