.TestimonialCardWrapper{
  min-width: 400px;
  min-height: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border: solid rgb(204, 204, 204) 1px;
  border-radius: 1rem;
}

.testimonialDescription{
  font-style: italic;
}
.clientName{
  font-weight: 600;
}
.industrial{
  background-color: var(--secondary);
  border-radius: 1.5rem;
  padding: 0.5rem;
  font-size: var(--paragraph-small);
}
